# Node modules
node_modules
npm-debug.log*

# Environment files
.env

# Git
.git
.gitignore

# Documentation
README.md

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Logs
logs
*.log

# Coverage
coverage
.nyc_output
